*{
    margin:0;
    padding:0;
}

.view{
    margin:0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
    font-size: 20px;
}

/* --------------- first view ------------------ */
.main{
    background-image: url("../images/main pic.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}


nav{
    position: relative;
    height: auto;
    top: 4%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links{
    flex: 1;
    max-width: 56%;
    text-align: right;
    position: relative;
    font-size: 1.3em;
    left: 20%;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2.6%;
}

.nav-links ul li a{
    color: #cdcbcb;
    position: relative;
    text-decoration: none;
    font-family: "Vollkorn SC", serif;
    font-size: 0.8em;
}

.hello{
    position: relative;
    max-width: 50%;
    top: 5vh;
    left: 20%;
}

.hello h2{
    position: relative;
    left: 22vw;
    color: #ffffff73;
    font-size: 10vw;
    top: 19vh;
}

.hello h3{
    display: inline;
    position: relative;
    left: 37vw;
    color: #f48a0db0;
    font-size: 4vw;
    top: 14vh;

}

.hello > p{
    display: inline-block;
    position: relative;
    left: 38vw;
    color: #f7f8fc7a;
    font-size: 4vw;
    font-family: rockwell;
    top: 14vh;
}

@media all and (min-width: 600px) and (max-width: 840px){
    .nav-links {
        max-width: none;
        width: 70vw;
        left: 0;
    }

    .hello {
        max-width: none;
        width: max-content;
        top: 31vh;
        height: max-content;
        left: 17%;
    }

    .hello h2 {
        top: 0;
    }
    .hello h3 {
        top: 0;
    }
    .hello > p {
        top: 0;
    }

}

@media all and (min-width: 360px) and (max-width: 600px){

    .nav-links> ul{
        display: flex;
        flex-direction: column;
        position: relative;
        right: 4vw;
        float: right;
        text-align: left;
    }
    .nav-links ul li {
        list-style: none;
        display: inline-block;
        margin: 5px 2.6%;
        width: 22vw;
        font-size: 1.1em;
        font-weight: bold;
    }
    .hello {
        top: 13vh;
    }
    .hello h2 {
        top: 0;
    }
    .hello h3 {
        top: 0;
    }
    .hello > p {
        top: 0;
    }
}

/*---------------------2 nd view-------------------------*/

.about{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}

.about> h2{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}


hr {
    left: 14vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 2px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}

.content01{
    display: flex;
    position: absolute;
    gap: 4vw;
    top: 14vh;
    left: 9vw;
}
.my-image{
    width: 26vw;
    height: 70vh;
    background-color: rebeccapurple;
    top: 3vh;
    position: relative;
    border-radius: 16px;
}

.my-image > img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.my-details{
    position: relative;
    width: 52vw;
    height: 75vh;
    background-color: #8968416E;
    border-radius: 16px;
    border-width: 2px;
    border-color: #fdfdfd;
}

.my-details> button{
    height: 10vh;
    width: 10vw;
    position: relative;
    top: 60vh;
    left: 60vw;
}
.my-details>h1{
    font-size: 5vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    left: 270px;
    top: 27px;
    color: #ffffff8c;
}
.my-details>h2{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 13vh;
    color: #c9781496;
    left:10px;
    font-weight: normal;
}
.p1{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 13vh;
    color: rgba(234, 233, 220, 0.59);
    left: 10px;
    font-weight: normal;

}
.p2{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 18vh;
    color: rgba(234, 233, 220, 0.59);
    left: 96px;
    font-weight: normal;
}
.p3{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 18vh;
    color: rgba(234, 233, 220, 0.59);
    left: 11px;
    font-weight: normal;
}
.my-details>button{
    color: rgba(26, 24, 24, 0.85);
    height: 7vh;
    width: 13vw;
    position: absolute;
    top: 63vh;
    left: 20vw;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgba(244, 138, 13, 0.37);
    border-color: rgba(244, 138, 13, 0.37);
}


    /*.......................3 rd view...............................*/

.Education{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.Education>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.Education>hr{
    left: 35vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}
 .line{
    position: absolute;
    width: 10vw;
    height: 2px;
    border: 2px solid rgba(255, 254, 254, 0.56);
    transform: rotate(0.58deg);
    display: inline-block;
}

 .line1{
    left: 33vw;
    top: 5vh;
}

.line2{
    left: 43vw;
    top: 20vh;
}
.line3{
    left: 43vw;
    top: 35vh;
}
.line4{
    left: 33vw;
    top: 50vh;
}
.line5{
    left: 33vw;
    top: 65vh;
}
.line6{
    left: 43vw;
    top: 80vh;
}
.lineX{
    position: absolute;
    display: inline-block;
    top: 5vh;
    left: 43vw;
    width: 6px;
    height: 75vh;
    background-color: rgba(242, 137, 13, 0.47);
}
.Education>section{
    position: relative;
    height: 90vh;
    width: 80vw;
    top: 4vh;
    left: 10vw;
}
.box{
    position: absolute;
    height: 10vh;
    width: 26vw;
    border: 1px solid white;
}
.box-one{
    left: 6vw;
    top: 1vh;
}
.box-two{
    left: 54vw;
    top: 15vh;
}
.box-three{
    left: 54vw;
    top: 30vh;
}
.box-four{
    left: 6vw;
    top: 45vh;
}
.box-five{
    left: 6vw;
    top: 60vh;
}
.box-six{
    left: 54vw;
    top: 75vh;
}
.p-1{
    font-size: 3vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 1vh;
    color: rgba(234, 233, 220, 0.59);
    left: 128px;
    font-weight: normal;
}
.pa-2{
    font-size: 3vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 5vh;
    color: rgba(234, 233, 220, 0.59);
    left: 71px;
    font-weight: normal;
}
.p-2{
    font-size: 3vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 5vh;
    color: rgba(234, 233, 220, 0.59);
    left: -14px;
    font-weight: normal;
}


/*......................................................*/

.skill{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.skill>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.skill>hr{
    left: 22vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}

.slide-left{
    width: 30px;
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 50%;
    background-color: #404040;
    border: unset;
}
.slide-right{
    width: 30px;
    transform: rotate(270deg);
    position: absolute;
    left: 10px;
    top: 50%;
    background-color: #404040;
    border: unset;
}
.skill-list{
    position: relative;
    width: 88vw;
    height: 68vh;
    left: 6vw;
    top: 12vh;
    background-color: rgba(91, 73, 56, 0.53);
    border-radius: 16px;
    border-width: 2px;
    border-color: #010101;
}
.image-1{
    width: 15vw;
    height: 31vh;
    left: 15vw;
    background-color: rebeccapurple;
    top: -38vh;
    position: relative;
    border-radius: 16px;
}
.image-1>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-2{
    width: 15vw;
    height: 31vh;
    left: 33vw;
    background-color: rebeccapurple;
    top: -69vh;
    position: relative;
    border-radius: 16px;
}
.image-2>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-3{
    width: 15vw;
    height: 31vh;
    left: 51vw;
    background-color: rebeccapurple;
    top: -100vh;
    position: relative;
    border-radius: 16px;
}
.image-3>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-4{
    width: 15vw;
    height: 31vh;
    left: 69vw;
    background-color: rebeccapurple;
    top: -131vh;
    position: relative;
    border-radius: 16px;
}
.image-4>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/*......................................................*/

.tools{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.tools>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.tools>hr{
    left: 36vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}
.tools-list{
    position: relative;
    width: 88vw;
    height: 68vh;
    left: 6vw;
    top: 12vh;
    background-color: rgba(91, 73, 56, 0.53);
    border-radius: 16px;
    border-width: 2px;
    border-color: #010101;
}
.image-1{
    width: 15vw;
    height: 31vh;
    left: 15vw;
    background-color: rebeccapurple;
    top: -38vh;
    position: relative;
    border-radius: 16px;
}
.image-1>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-2{
    width: 15vw;
    height: 31vh;
    left: 33vw;
    background-color: rebeccapurple;
    top: -69vh;
    position: relative;
    border-radius: 16px;
}
.image-2>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-3{
    width: 15vw;
    height: 31vh;
    left: 51vw;
    background-color: rebeccapurple;
    top: -100vh;
    position: relative;
    border-radius: 16px;
}
.image-3>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.image-4{
    width: 15vw;
    height: 31vh;
    left: 69vw;
    background-color: rebeccapurple;
    top: -131vh;
    position: relative;
    border-radius: 16px;
}
.image-4>img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/*......................................................*/

.project{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.project>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.project>hr{
    left: 37vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}
.project>main{
    position: relative;
    height: 78vh;
    overflow: hidden;
    width: 85vw;
    border: 4px solid rgba(252, 252, 252, 0.61);
    top: 5vh;
    left: 8vw;
}
.all-projects{
    position: absolute;
    width: 180vw;
    height: 78vh;
    top: 1vh;
    left: 1vh;
    border: 1px solid #21130e;
    display: flex;
    gap: 3vw;


    animation: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*animation*/

@keyframes slide {
    20%{
        left: 0;
    }
    40%{
        left: -30%;
    }
    100%{
        left: -100%;
    }
}

.pro01{
    position: relative;
    width: 25vw;
    height: 70vh;
    top: 3vh;
    border: 1px solid red;
}
.all-projects>div{
    position: relative;
    border: 3px solid rgba(80, 51, 19, 0.62);
    width: 25vw;
    height: 70vh;
    top: 3vh;
}
.proj-photo{
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 30vh;
    width: 23vw;
    background-color: #8f6a6a;
}
.proj-photo>img{
    width: 23vw;
    height: 30vh;
}
.all-projects>div{
    font-size: 20px;
    font-family: Rockwell;
    color: rgba(255, 254, 254, 0.85);
}
.p-01{
    font-size: 10vh;
    font-family: Rockwell;
    color: rgba(172, 123, 67, 0.65);
}
.p-02{
    font-size: 6vh;
    font-family: Rockwell;
    color: rgba(255, 254, 254, 0.47);
}

/*......................................................*/

.contact{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
    height: 154vh;
}
.contact>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.contact>hr{
    left: 16vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}
.content02{
    position: relative;
    width: 82vw;
    height: 94vh;
    left: 8vw;
    top: 7vh;
    background-color: rgba(137, 104, 65, 0.29);
    border: 3px solid rgba(255, 255, 255, 0.51);

}
.pa01{
    position: relative;
    height: 0vh;
    left: 14vw;
    top: 11vh;
    font-size: 20px;
    color: #ffffff80;
    font-family: Rockwell;
}
.pa02{
    position: relative;
    height: 0vh;
    left: 22vw;
    top: 13vh;
    font-size: 20px;
    color: #ffffff80;
    font-family: Rockwell;
}
.pa03{
    position: relative;
    height: 0vh;
    left: 39vw;
    top: 14vh;
    font-size: 20px;
    color: #ffffff80;
    font-family: Rockwell;
}
.pa04{
    position: relative;
    height: 0vh;
    left: 20vw;
    top: 15vh;
    font-size: 20px;
    color: #ffffff80;
    font-family: Rockwell;
}

form{
    left: 16vw;
    top: 35vh;
    position: relative;
}

.label1{
    font-size: 18px;
    position: relative;
    top: -13vh;
    right: 5vw;
    color: rgba(255, 255, 255, 0.51);
    font-family: Rockwell;
}
.text1 {
    width: 58vw;
    height: 5vh;
    background-color: #fdfdfd6b;
    border: 2px black;
    border-radius: 8px;
    position: relative;
    font-size: 24px;
    right: 5vw;
    top: -13vh;

}

.label2{
    font-size: 18px;
    position: relative;
    top: -13vh;
    right: 5vw;
    color: rgba(255, 255, 255, 0.51);
    font-family: Rockwell;

}
input[type="email"] {
    width: 58vw;
    height: 5vh;
    background-color: #fdfdfd6b;
    border: 2px black;
    border-radius: 8px;
    position: relative;
    font-size: 24px;
    right: 5vw;
    top: -13vh;
}

.label3{
    font-size: 18px;
    position: relative;
    top: -13vh;
    right: 5vw;
    color: rgba(255, 255, 255, 0.51);
    font-family: Rockwell;
}

.text3{
    width: 58vw;
    height: 16vh;
    background-color: #fdfdfd6b;
    border: 2px black;
    border-radius: 8px;
    position: relative;
    font-size: 24px;
    right: 5vw;
    top: -13vh;
}

input[type="submit"] {
    width: 10vw;
    border: 2px solid rgba(19, 19, 18, 0.68);
    border-radius: 10px;
    position: relative;
    height: 6vh;
    left: 18vw;
    top: -13vh;
    color: rgba(255, 255, 255, 0.53);
    background-color: #584d3e;
    font-family: Rockwell;
}
.so-links1{
    width: 4vw;
    height: 9vh;
    background-color: rgba(215, 106, 24, 0.66);
    top: 12vh;
    position: relative;
    border-radius: 206px;
    left: 35vw;
}
.so-links1>img{
    width: 100%;
    height: 100%;
}
.so-links2{
    width: 4vw;
    height: 9vh;
    background-color: rgba(215, 106, 24, 0.66);
    top: 3vh;
    position: relative;
    border-radius: 206px;
    left: 40vw;
}
.so-links2>img{
    width: 100%;
    height: 100%;
}
.so-links3{
    width: 4vw;
    height: 9vh;
    background-color: rgba(215, 106, 24, 0.66);
    top: -6vh;
    position: relative;
    border-radius: 206px;
    left: 45vw;
}
.so-links3>img{
    width: 100%;
    height: 100%;
}
.so-links4{
    width: 4vw;
    height: 9vh;
    background-color: rgba(215, 106, 24, 0.66);
    top: -15vh;
    position: relative;
    border-radius: 206px;
    left: 50vw;
}
.so-links4>img{
    width: 100%;
    height: 100%;
}
.so-links5{
    width: 4vw;
    height: 9vh;
    background-color: rgba(215, 106, 24, 0.66);
    top: -24vh;
    position: relative;
    border-radius: 206px;
    left: 55vw;
}
.so-links5>img{
    width: 100%;
    height: 100%;
}
.end{
    position: relative;
    width: 35vw;
    height: 10vh;
    top: -15vh;
    left: 33vw;
    color: rgba(255, 255, 255, 0.4);
}
.end>h1{
    position: relative;
    left: 0vw;
    top: -7vh;
    font-size: 24px;
    font-family: Raleway;
    font-weight: normal;
}
.end>h2{
    position: relative;
    left: 6vw;
    top: -8vh;
    font-family: Raleway;
    font-weight: normal;
}




