*{
    margin:0;
    padding:0;
}

.view{
    margin:0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
    font-size: 20px;
}

/* --------------- first view ------------------ */
.main{
    background-image: url("../images/main pic.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}


nav{
    position: relative;
    height: auto;
    top: 4%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links{
    flex: 1;
    max-width: 56%;
    text-align: right;
    position: relative;
    font-size: 1.3em;
    left: 20%;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2.6%;
}

.nav-links ul li a{
    color: #cdcbcb;
    position: relative;
    text-decoration: none;
    font-family: "Vollkorn SC", serif;
    font-size: 0.8em;
}

.hello{
    position: relative;
    max-width: 50%;
    top: 5vh;
    left: 20%;
}

.hello h2{
    position: relative;
    left: 6vw;
    color: rgba(255, 255, 255, 0.47);
    font-size: 10vw;
}

.hello h3{
    display: inline;
    position: relative;
    left: 15vw;
    color: rgba(206, 142, 43, 0.94);
    font-size: 6vw;
}

.hello > p{
    bottom: 14vh;
    position: relative;
    left: 29vw;
    color: rgba(23, 60, 168, 0.94);
    font-size: 6vw;
}

/*----------------------------------------------*/

.about{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}

.about> h2{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}


hr {
    left: 14vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 2px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}

.content01{
    display: flex;
    position: absolute;
    gap: 4vw;
    top: 14vh;
    left: 9vw;
}
.my-image{
    width: 26vw;
    height: 70vh;
    background-color: rebeccapurple;
    top: 3vh;
    position: relative;
    border-radius: 16px;
}

.my-image > img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.my-details{
    position: relative;
    width: 52vw;
    height: 75vh;
    background-color: #8968416E;
    border-radius: 16px;
    border-width: 2px;
    border-color: #fdfdfd;
}

.my-details> button{
    height: 10vh;
    width: 10vw;
    position: relative;
    top: 60vh;
    left: 60vw;
}
.my-details>h1{
    font-size: 5vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    left: 334px;
    top: 27px;
    color: #ffffff8c;
}
.my-details>h2{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 13vh;
    color: #c9781496;
    left:10px;
    font-weight: normal;
}
.my-details>p1{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 13vh;
    color: rgba(234, 233, 220, 0.59);
    left: 22px;
    font-weight: normal;

}
.my-details>p2{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 18vh;
    color: rgba(234, 233, 220, 0.59);
    left: 22px;
    font-weight: normal;
}
.my-details>p3{
    font-size: 4vh;
    font-family: Rockwell Condensed;
    position: relative;
    display: inline;
    top: 18vh;
    color: rgba(234, 233, 220, 0.59);
    left: 38px;
    font-weight: normal;
}
.my-details>button{
    color: rgba(26, 24, 24, 0.85);
    height: 7vh;
    width: 13vw;
    position: absolute;
    top: 63vh;
    left: 20vw;
    font-size: 23px;
    border-radius: 15px;
    background-color: rgba(244, 138, 13, 0.37);
    border-color: rgba(244, 138, 13, 0.37);
}
/*......................................................*/

.Education{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.Education>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.Education>hr{
    left: 35vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}

/*......................................................*/

.skill{
    background-color: #1d150b;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}
.skill>h1{
    color: rgba(255, 255, 255, 0.51);
    font-size: 5vh;
    position: relative;
    display: inline;
    left: 28px;
    top: 19px;
    font-family: Rockwell;
}
.skill>hr{
    left: 35vw;
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    top:1vh;
    background-color: rgba(255, 255, 255, 0.51);
}
